*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    color: #212529;
    background-color: #DCE1E3;

    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background: #f3eee4;
    line-height: 1.5;
    font-size: clamp(1.09rem,1rem + .47vw,1.33rem);
    display: flex;
    flex-direction: column;
    font-family: atkinson_hyperlegible,Arial,sans-serif;
}



ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

input, select, textarea {
    font-size: 1.8rem;
}

