.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* .login-wrapper p { */
    /* margin-bottom: 1rem; */
/* } */
/*  */
/* .login-wrapper a { */
    /* margin-bottom: 1rem; */
/* } */
/*  */
/* .login-wrapper label, input, button { */
    /* width: 100%; */
/* } */
/*  */
/* .login-wrapper input, button { */
    /* border-radius: 5px; */
/* } */
/*  */
/* .login-wrapper input { */
    /* padding: 1.25rem 1rem; */
    /* outline: none; */
    /* margin-bottom: 1.25rem; */
/* } */
/*  */
/* .login-wrapper label { */
    /* text-transform: capitalize; */
    /* margin-bottom: 1rem; */
/* } */
/*  */
/* .login-container { */
    /* width: Min(50%, 500px); */
/* } */