.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-wrapper label, input, button {
    width: 100%;
}

.login-wrapper input, button {
    border-radius: 5px;
}

.login-wrapper input {
    padding: .8rem .5rem;
    outline: none;
}

.login-wrapper label {
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.login-container {
    width: Max(60%, 200px);
}