@import "_variables.css";
@import "_typography.css";
@import "_base.css";
@import "_component.css";
@import "_login.css";


.admin-wrapper {
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding-inline: clamp(2rem,2rem + 3vw, 3.33rem);
    /* max-width: 100%; */
}

label {
    font-weight: bold;
}

.admin-card {
    display: flex;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

table, form {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

thead td {
    text-decoration: capitalize;
    font-weight: bold;
}